.home{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: #7e7e7e;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    font-weight: 500;
}
