* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}


header {
  width: 100%;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  /* background-color: #1b1b1c; */
}

input {
  padding: 1rem 0.75rem;
  font-size: 1.3rem;
  outline: none;
  border: 1px solid black;
  color: black;
  border-radius: 0.3rem;
}

.primary {
  padding: 1rem 1.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid black;
  transition: all 0.5s ease-in;
  border-radius: 0.5rem;
}

button:active {
  transform: scale(1.1);
  cursor: pointer;
}

.main {
  width: 100%;
  height: 90vh;
  background-color: rgb(77, 77, 77);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.note {
  padding: 10px;
  background-color: rgb(229, 173, 173);
  border-radius: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.note:hover {
  box-shadow: 5px 8px 14px rgba(60, 59, 59, 0.253);
}

.btns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}

.btn {
  padding: 1rem 2rem;
  border: 1px solid rgba(91, 91, 91, 0.832);
  transition: all 0.3s ease-in;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 0.45rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(1.1);
  border: 1px solid rgba(9, 255, 124, 0.759);
}

.notifite {
  width: 200px;
  background-color: red;
}

.toast {
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  border-radius: 6px;
  opacity: 0;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.toast.show {
  bottom: 30px;
  /* upar slide karega */
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(93, 93, 93);
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 0.3rem;
  opacity: 1;
}

.title,
.desc {
  width: 230px;
  height: 50px;
  border: none;
}

.update{
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  transition: all 0.3s ease;
  border-radius: 0.3rem;
  cursor: pointer;
}
.update:active{
  transform: scale(1.1);
}
.Cancel{
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  transition: all 0.3s ease;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.Cancel:active{
  transform: skew(1.1);
}

.blur{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(5px);
  z-index: 999;
}