* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
:root {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 28px;
}

.wraper {
  width: 100%;
  height: 100vh;
  background-color: rgb(133, 122, 122);
  padding: 10px;
}

.box {
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  background-color: rgba(98, 95, 95, 0.724);
}

.notes{
  background-color: rgb(236, 137, 137);
  padding: 10px;
}